@import "tailwindcss";

@font-face {
  font-family: inter;
  src: url(/public/fonts/Inter-VariableFont_opsz,wght.ttf);
}

@theme {
  --color-studyellow: #ffea00;
}
body {
  background-color: #171717;
  color: #ffffff;
  font-family: inter;
  width: 600px;
  max-height: 800px;
}
